@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sgfp1r');
  src:  url('fonts/icomoon.eot?sgfp1r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sgfp1r') format('truetype'),
    url('fonts/icomoon.woff?sgfp1r') format('woff'),
    url('fonts/icomoon.svg?sgfp1r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-profile:before {
  content: "\e923";
  color: #FFF;
  
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-user:before {
  content: "\e971";
  color: #FFF;
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-menu4:before {
  content: "\e9c0";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
